# Set up

## Access db helper module from other directory

In [5]:
import sys
from pathlib import Path

cwd = Path.cwd().resolve()
project_root = cwd if (cwd / "src").exists() else cwd.parent

sys.path.append(str(project_root))

from src.db import get_engine
engine = get_engine()

# Reading in data from postgres

In [8]:
import pandas as pd
from sqlalchemy import text

engine = get_engine()

# test query
query = """
select count(1) from members;
"""

# Read entire table
df = pd.read_sql(text(query), con=engine)

# Optional: preview
df.head()

   count
0    220