# Set up

## Access db helper module from other directory

In [11]:
import sys
from pathlib import Path

cwd = Path.cwd().resolve()
project_root = cwd if (cwd / "src").exists() else cwd.parent

sys.path.append(str(project_root))

from src.db import get_engine
engine = get_engine()

# Reading in data from postgres

In [12]:
import pandas as pd
from sqlalchemy import text

engine = get_engine()

# Read entire table
df = pd.read_sql(text("select * from members;"), con=engine)

# Optional: preview
df.head()

  member_id customer_id first_name last_name member_since
0     M1000       M1000      Ariya      Duke   2014-01-03
1     M1001       M1001      Kalel  Mitchell   2014-01-16
2     M1002       M1002     Willow  Matthews   2014-01-21
3     M1003       M1003    Preston   Simmons   2014-02-05
4     M1004       M1004     Reagan   Garrett   2014-02-11